/* media queri tablet donde estamos */

@media screen and (max-width:768px) {
    .dondeestamos__main{
        .dondeestamos__presentacion--section{
            h1{
                font-size: 1.6rem;
            }
            .dondeestamos__presentacion--section--div{
                gap: 15%;
                p{
                    font-size: 1.2rem;
                    text-align: left;
                    width: 30%;
                }
                img{
                    width: 30%;
                }
            }
        }
        .dondeestamos__ubicacion--section{
            gap: 1.5rem;
            img{
                width: 90%;
            }
            h2{
                font-size: 1.4rem;
            }
            p{
                text-align: center;
                width: 70%;
                font-size: 1.2rem;
            }
            a{
                font-size: 1rem;
                width: 15rem;
            }
        }
        .dondeestamos__local--section{
            h2{
                font-size: 1.4rem;
            }
        }
    }
}

/* media queris mobile donde estamos */ 

@media screen and (max-width:425px) {
    .dondeestamos__main{
        .dondeestamos__presentacion--section{
            @include flex-col-center;
            h1{
                font-size: 1.2rem;
            }
            .dondeestamos__presentacion--section--div{
                @include flex-col-center;
                gap: 1rem;
                p{
                    font-size: 1rem;
                    text-align: center;
                    width: 80%;
                }
                img{
                    width: 80%;
                }
            }
        }
        .dondeestamos__ubicacion--section{
            @include flex-col-center;
            img{
                width: 80%;
            }
            p{
                width: 80%;
            }
        } 
        .dondeestamos__local--section{
            .carousel{
                .carousel-inner{
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
}
