/* media q index tablet */

@media screen and (max-width:768px) {
    /* estilos del main */
    .index__main{
        .index__presentacion--section{
            h1{
                font-size: 1.6rem;
            }
            .index__presentacion--section--div{
                gap: 15%;
                p{
                    font-size: 1.2rem;
                    text-align: left;
                    width: 40%;
                }
                img{
                    width: 40%;
                }
            }
        }
        /*estilos de seccion productos */
        .index__productos--section{
            h2{
                font-size: 1.4rem;
            }
            .index__productos--section--div{
                .index__productos--section--article{
                    h3{
                        font-size: 1.3rem;
                    }
                    div{
                        @include medidas(12rem, 12rem);
                    }
                    a{
                        font-size: 1.3rem;
                    }
                }
            }
        }
        /* seccion donde estamos */
        .index__dondeestamos--section{
            gap: 1.5rem;
            img{
                width: 18rem;
            }
            h2{
                font-size: 1.4rem;
            }
            p{
                text-align: center;
                width: 50%;
                font-size: 1.2rem;
            }
            a{
                font-size: 1rem;
            }
        }
        /* seccion nuestras redes */
        .index__nuestrasredes--section{
            h2{
                font-size: 1.4rem;
            }
            .index__nuestrasredes--section--div{
                gap: 1.5rem;
                .index__nuestrasredes--section--div--article{
                    padding: 0.5rem;
                    a{
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:425px) {
    /* estilos del main */
    .index__main{
        .index__presentacion--section{
            h1{
                font-size: 1.2rem;
            }
            .index__presentacion--section--div{
                @include flex-col-center;
                p{
                    font-size: 1rem;
                    text-align: center;
                    width: 80%;
                }
                img{
                    width: 80%;
                }
            }
        }
        /* seccion donde estamos */
        .index__dondeestamos--section{
            @include flex-col-center;
            img{
                width: 80%;
            }
            p{
                width: 80%;
            }
        }
    }
}