// estilos generales de flex row y column //

%flexRowCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

%flexColCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// estilos de seccion presentacion //

%estilos-seccion-presentacion{
    color: $color-principal;
    background-color: $color-secundario;
    padding: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "titulo titulo" "parrafo img";
    align-items: center;
    justify-items: center;
    padding-left: 10%;
    padding-right: 10%;
    h1{
        grid-area: titulo;
        font-size: calc(20px + (35 - 20) * (100vw - 320px) / (1920 - 320));
        text-align: center;
        font-weight: bold;
        padding: 1rem;    
    }
    p{
        grid-area: parrafo;
        padding: 1rem;
        font-size: calc(13px + (35 - 20) * (100vw - 320px) / (1920 - 320));
        width: 70%;        
    }
    img{
        grid-area: img;
        padding: 1rem;
        width: 60%;
    }
}

// ----------- estilos de las cards de pre-seleccion de productos ------------- //

%estilos-card-productos{
    @extend %flexColCenter;
    text-align: center;
    padding: 1rem;
    h3{
        font-size: calc(11px + (35 - 20) * (100vw - 320px) / (1920 - 320));
        font-weight: bold;
        padding: 0.5rem;
        }
    div{
        @extend %flexColCenter;
        background-color: $color-bg-principal;
        border-radius: 15%;
        height: 17rem;
        width: 17rem;
        box-shadow: 2px 2px 5px #152e58;
        img{
            height: 90%;
            padding: 0.2rem;
            filter: drop-shadow(2px 2px 5px #791a2f);
            }
    }
    a{
        font-size: calc(10px + (35 - 20) * (100vw - 320px) / (1920 - 320));
        background-color: $color-secundario;
        color: $color-principal;
        margin: 1.5rem;
        padding: 0.5rem;
        border-radius: 0.6rem;
        font-weight: bold;
        text-decoration: none;
        @media (min-width: 770px) { 
            &:hover{
                box-shadow: 5px 5px 5px $color-bg-principal;
                transform: scale(1.1);
            }
        }
        &:active{
            transform: scale(0.9);
            box-shadow: inset 5px 5px 5px $color-bg-secundario;
        }
    }
}

// layout de la seccion pre-seleccion productos //

%estilos-seccion-productos{
    color: $color-secundario;
    padding: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "titulo titulo"
    "producto-uno producto-dos";
    h2{
        grid-area: titulo;
        text-align: center;
        font-size: calc(18px + (35 - 20) * (100vw - 320px) / (1920 - 320));
        padding: 1rem;
        font-weight: bold;
        }
    .productos__article--uno{
        grid-area: producto-uno;
        @extend %estilos-card-productos;
        margin-left: 20%;
    }
    .productos__article--dos{
        grid-area: producto-dos;
        @extend %estilos-card-productos;
        margin-right: 20%;
    }
}

// estilos para las cards de seccion productos cachorros, gatitos, shampoos //

%estilos-card-productos-primerbloque{
    text-align: center;
    background-color: $color-principal;
    border-radius: 2rem;
    @include medidas(22rem, 37rem);
    @extend %flexColCenter;
    h3{
        font-size: calc(11px + (35 - 20) * (100vw - 320px) / (1920 - 320));
        font-weight: bold;
        padding: 1rem;
    }
    div{
        @extend %flexRowCenter;
        background-color: $color-bg-secundario;
        border-radius: 10%;
        @include medidas(15rem, 15rem);
        box-shadow: 2px 2px 5px #152e58;
        img{
            height: 90%;
            padding: 0.2rem;
            filter: drop-shadow(2px 2px 5px #7d7174);
            transition: 0.5s;
            &:hover{
                transform: scale(2);
            }
            }
    }
    p{
        font-size: 1rem;
        padding: 1rem;
        height: 13rem;
        width: 18rem;
    }
}

// estilos generales de la seccion productos cachorros, gatitos, shampoos //
%estilos-productos-primer-bloque{
    color: $color-secundario;
    background-color: $color-secundario;
    padding: 2rem;
    h2{
        grid-area: titulo;
        color: $color-principal;
        text-align: center;
        font-size: calc(18px + (35 - 20) * (100vw - 320px) / (1920 - 320));
        padding: 1rem;
        font-weight: bold;
    }
    article{
        @extend %estilos-card-productos-primerbloque;
    }
}

// estilos para las cards de seccion productos para adultos, gatos adultos, pipetas //

%estilos-card-productos-segundobloque{
    @extend %flexColCenter;
    text-align: center;
    background-color: $color-secundario;
    border-radius: 2rem;
    @include medidas(22rem, 37rem);
    h3{
        font-size: calc(11px + (35 - 20) * (100vw - 320px) / (1920 - 320));
        font-weight: bold;
        padding: 1rem;
    }
    div{
        background-color: $color-bg-principal;
        border-radius: 15%;
        @include medidas(15rem, 15rem);
        box-shadow: 2px 2px 5px #7d7174;
        @extend %flexRowCenter;
        img{
            height: 90%;
            padding: 0.2rem;
            filter: drop-shadow(2px 2px 5px #791a2f);
            transition: 0.5s;
            &:hover{
                transform: scale(2);
            }
        }
    }
    p{
        font-size: 1rem;
        padding: 1rem;
        height: 13rem;
        width: 18rem;
    }
}

// estilos generales de la seccion productos cachorros, gatitos, shampoos //

%estilos-productos-segundo-bloque{
    color: $color-principal;
    padding: 3rem;
    h2{
        color: $color-secundario;
        text-align: center;
        font-size: calc(18px + (35 - 20) * (100vw - 320px) / (1920 - 320));
        padding: 1rem;
        font-weight: bold;
    }
    article{
        @extend %estilos-card-productos-segundobloque;
    }
}


// estilos seccion donde estamos pagina index y contacto (redireccionamiento a google maps) //

%estilos-seccion-dondeestamos-link{
    color: $color-principal;
    padding: 1.8rem;
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "titulo titulo"
        "img parrafo"
        "img link";
    justify-items: center;
    align-items: center;
    h2{
        grid-area: titulo;
        text-align: center;
        font-size: calc(18px + (35 - 20) * (100vw - 320px) / (1920 - 320));
        padding: 1rem;
        font-weight: bold;
        }
    img{
        grid-area: img;
        filter: drop-shadow(2px 2px 5px #7d7174);
        width: 50%;
    }
    p{
        grid-area: parrafo;
        width: 60%;
        font-size: calc(12px + (35 - 20) * (100vw - 320px) / (1920 - 320));
        text-align: right;        
    }
    a{
        grid-area: link;
        background-color: $color-principal;
        color: $color-secundario;
        width: 50%;
        text-decoration: none;
        text-align: center;
        font-size: calc(10px + (35 - 20) * (100vw - 320px) / (1920 - 320));
        font-weight: bold;
        padding: 0.6rem;
        border-radius: 0.6rem;
        @media (min-width: 770px) { 
            &:hover{
                box-shadow: 5px 5px 5px #c3415e;
                transform: scale(1.1);
            }
        }
        &:active{
            transform: scale(0.9);
            box-shadow: inset 5px 5px 5px #1a3461;
        }
    }
}


// estilos los botones links (secciones redes) de las paginas index y contacto //

%estilos-contacto-links{
    @extend %flexRowCenter;
    padding: 0.8rem;
    background-color: $color-secundario;
    border-radius: 0.8rem;
    gap: 2rem;
    @media (min-width: 770px) { 
        &:hover{
            box-shadow: 5px 5px 5px $color-bg-principal;
            transform: scale(1.1);
        }
    }
    &:active{
        transform: scale(0.9);
        box-shadow: inset 5px 5px 5px $color-bg-secundario;
    }
    a{
        color: $color-principal;
        font-weight: bold;
        font-size: calc(10px + (35 - 20) * (100vw - 320px) / (1920 - 320));
        text-decoration: none;
    }
}